<footer class="footer">
    <div class="footer__row container">
        <div class="footer__column">
            <p class="footer__creator">Site developed by <a href="#">Spicy-Crunchy LLC</a></p>
            <p class="footer__copyringt">© 2022</p>
        </div>
    </div>
</footer>