<header class="header">
    <div class="header__row container">
        <a href="#" class="logo-page">
            <img src="content/icon-cookie.svg" alt="">
            <span>Fragrant Cookies</span>
        </a>
    </div>
</header>