// .form
//     &__item
//         margin: 0 0 4rem 0
//         &:last-child
//             margin: 0
//     &__btn
//         display: inline-flex
//         justify-content: center
//         align-items: center
//         height: 5rem
//         max-width: 20rem
//         width: 100%
//         background-color: $colorBlack
//         color: $colorWhite
//         &._inactive-submit
//             pointer-events: none
//             background-color: gray
// .input-form
//     position: relative
//     display: block

//     input
//         display: block
//         width: 100%
//         height: 100%
//         position: relative
//         z-index: 1
//         border: solid .1rem $colorBlack
//         height: 4rem
//         padding: 0 1rem
//         transition: border-color .3s
//         &._error
//             border-color: red
//             ~.input-form__message--error
//                 opacity: 1
//                 pointer-events: all
//                 transform: translateY(0)
//         &._correct
//             border-color: green
//             ~.input-form__message--correct
//                 opacity: 1
//                 pointer-events: all
//                 transform: translateY(0)
//     &__message
//         position: absolute
//         z-index: 0
//         top: calc( 100% + .5rem )
//         right: 0
//         color: red
//         opacity: 0
//         transform: translateY(-1rem)
//         pointer-events: none
//         transition: all .3s


.form
    max-width: 76.8rem
    width: 100%
    margin: 0 auto
    background-color: $cExtra
    position: relative
    z-index: 2
    &__title
        background-color: $cBg
        text-align: center
        font-weight: 500
        font-size: 2.4rem
        line-height: 1.22
        padding: .5rem 0
        @media (min-width: 768px)
            font-size: 3.6rem
    &__content
        padding: 2rem 1.5rem
        @media (min-width: 768px)
            padding: 3.8rem 3.2rem 3rem

    &__body


    &__btns
        display: flex
        justify-content: center
        margin: 1.5rem 0 0 0
        @media (min-width: 768px)
            margin: 2.8rem 0 0 0


.item-form
    margin: 0 0 1.5rem 0
    @media (min-width: 768px)
        margin: 0 0 1.8rem 0
    &:last-child
        margin: 1.5rem 0 0 0
        @media (min-width: 768px)
            margin: 2.8rem 0 0 0

    &__title
        padding: 0 0 0 .8rem
        margin: 0 0 .5rem 0
        line-height: 1.2


.input-form
    background-color: #AF9164
    height: 4rem
    display: block

    &--checkbox
        background-color: transparent
        display: inline-flex
        align-items: center
        cursor: pointer
        &:hover,
        &:focus
            .input-form__body
                box-shadow: 2px 2px 5px #AF9164
        .input-form__item
            display: none
            &:checked
                ~.input-form__body
                    img
                        opacity: 1
                        transform: scale(1)

    &__item
        background-color: inherit
        display: block
        width: 100%
        height: 100%
        padding: 0 .8rem
        &::placeholder
            color: #CCCCCC
        &:focus
            box-shadow: 2px 2px 5px #AF9164

    &__message
        display: none


    &__message--error


    &__message--correct


    &__text
        @media (max-width: 767px)
            font-size: 1.8rem
        a
            &:hover
                text-decoration: underline


    &__body
        width: 3.2rem
        height: 3.2rem
        background-color: $cBg
        display: flex
        justify-content: center
        align-items: center
        margin: 0 0 0 2.5rem
        img
            width: 2.1rem
            height: 2.1rem
            opacity: 0
            transform: scale(0)
            transition: opacity $trTime, transform $trTime


